
body {
    margin: 0;
    padding: 0;
}

nav ul {
  list-style: none;
  padding: 2px;
  height: 100vh;
  width: 100%;
  background-color: #191414;
}

nav li {
  text-transform: uppercase;
  padding: 10px;
  border-bottom: 1px solid grey;
  color: white;
  cursor: pointer;
  transition: 1s ease;
}

nav li:hover {
  background-color: #1db954;
}

a {
  text-decoration: none !important;
}

aside {
  width: 15%;
  position: fixed;
}

main {
  width: 85%;
  padding: 10px;
  margin-left: 15%;
}

.wrapper {
  display: flex;
}

.action-icon {
  padding: 0 4px 0 4px;
  font-size: 22px;
  color: black !important;
}

.action-icon.danger {
  color: red !important;
}

.inner-padding {
  padding-right: 100px;
}

.hidden {
  display: none;
}

.disclaimer {
  padding: 10px;
  width: 100%;
  margin: 10px 10px 10px 0;
  border-radius: 2px;
}

.disclaimer.red {
  background-color: red;
}

.disclaimer.green {
  background-color: #1db954;
}

.fixed-on-top {
  position: fixed;
  top: 10px;
}

.login-info {
  font-size: 10px;
}

.wrapper-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.body-background {
  background-image: url('http://www.ianbarnard.co.uk/wp-content/uploads/2013/09/free-blurred-web-backgrounds-04.jpg');
}

#loginForm {
  padding: 50px;
  width: 300px;
  margin-top: 100px;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#loginBtn {
  text-transform: uppercase;
}
